<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Find your car!</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to our Dealership!</h1>
            <div class="row">
                <div class='col-md-4'>
                    <form action='/car_browse'>
                        <button type="submit" class="btn-info">Browse Cars</button>
                    </form>
                </div>
                <div class='col-md-4'>
                    <form action='/car_form'>
                        <button type="submit" class="btn-info">Search Cars</button>
                    </form>
                </div>
                <div class='col-md-4'>
                    <form action='/car_sell'>
                        <button type="submit" class="btn-info">Sell a Car</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- add landing page with options to add a car, view cars, or search -->
    </body>
</html>
