<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Find your car!</title>
    </head>
    <body>
        <!-- add landing page with options to add a car, view cars, or search -->
    </body>
</html>
